.filled {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.outlined {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
