.card {
  border: 1px solid var(--card-border);
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 10px var(--card-shadow-color);
}

.card img {
  width: 100%;
  border-radius: 8px;
}
